<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="http://media.giphy.com/media/xTiTniMIl9bHEIJxAI/giphy.gif" alt="Thanks" />
        <h3>Thank you for your participation.</h3>
    </div>
</div>